$background: #191224;
$surface: #403d58;
$primary: #e63946;
$secondary: #5e5a7f;
$secondary-medium-dark: #5b577c;
$secondary-dark: #43405b;
$accent: #9a95c3;
$strength: #ffb81f;
$supporter: #ffb81f;

$admin: #e63946;
$supporter: #ffb81f;

$nature-up: #ff683a;
$nature-down: #2ba0ed;

$subskill-white: #fafafa;
$subskill-silver: #dcf2ff;
$subskill-gold: #ffe570;

$curry: #ff9f4b;
$salad: #a8cf5c;
$dessert: #f2d95f;
$curry-dark: #e66b00;
$salad-dark: #81b616;
$dessert-dark: #dbb700;

$ingredient: #fbe346;
$berry: #b297e7;
$skill: #ff616e;
$all: #ffffff;
$berry-light: #d9ccf5;

$energy: #31e571;
$help: #ffbd2f;

$erb: #499fff;
$hb: #ffdf2e;

$day: #ff9d45;
$night: #4896ff;

$pretty-purple: #9771e0;

$error-3: #e97612;

$on-background: #ffffff;
$on-surface: #ffffff;
$on-primary: #ffffff;
$on-secondary: #ffffff;

:root {
  --curry: #ff9f4b;
  --salad: #a8cf5c;
  --dessert: #f2d95f;
}
