$background: #191224;
$surface: #403d58;
$primary: #e63946;
$secondary: #5e5a7f;
$secondary-medium-dark: #5b577c;
$secondary-dark: #43405b;
$accent: #9a95c3;
$strength: #ffb81f;
$supporter: #ffb81f;

$tier-s: #e63946;
$tier-a: #f37933;
$tier-b: #ffb81f;
$tier-c: #efd269;
$tier-d: #99c418;
$tier-e: #9ce9ed;
$tier-f: #b9a0e9;

$admin: #e63946;
$supporter: #ffb81f;

$nature-up: #ff683a;
$nature-down: #2ba0ed;

$subskill-white: #fafafa;
$subskill-silver: #dcf2ff;
$subskill-gold: #ffe570;

$curry: #e7a888;
$salad: #bcd962;
$dessert: #fdb4ca;

$curry-dark: #f59261;
$salad-dark: #99c418;
$dessert-dark: #fe8bae;

$ingredient: #fdb4ca;
$berry: #b9a0e9;
$berry-light: #daccf5;
$skill: #efd269;
$all: #ffffff;

$energy: #31e571;
$help: #ffbd2f;

$erb: #499fff;
$hb: #ffdf2e;

$day: #ff9d45;
$night: #4896ff;

$pretty-purple: #9771e0;

$error-3: #e97612;

$on-background: #ffffff;
$on-surface: #ffffff;
$on-primary: #ffffff;
$on-secondary: #ffffff;

$patreon: #f96854;
$google: #181717;
$discord: #5865f2;

:root {
  --curry: #e7a888;
  --salad: #bcd962;
  --dessert: #fdb4ca;
  --berry: #b9a0e9;
  --ingredient: #fdb4ca;
  --skill: #efd269;
}
