// flex
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-x {
  display: flex;
  align-items: center;
}

.flex-center-y {
  display: flex;
  justify-content: center;
}

.flex-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-top-left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-nowrap {
  display: flex;
  flex-wrap: nowrap;
}

.v-btn {
  font-size: 16px !important;
  text-transform: none !important;
}

.grayscale {
  filter: grayscale(100%);
}
