@use '@/assets/main' as *;
@use '@/assets/common';
@use '@/assets/animations';

a.simple {
  color: $berry-light;
  transition: unset !important;

  &:visited {
    color: $berry-light;
  }

  &:active,
  &:hover {
    color: $berry;
  }

  * {
    transition: unset !important;
  }
}

a.btn-link {
  display: block;
  text-decoration: none;
  color: $berry-light;
  position: relative;
  border-bottom: 1px solid $berry-light;
  padding: 0px 15px 0px 1px;
  margin: 0 5px;
}

a.btn-link:visited {
  color: $berry-light;
}

a.btn-link:hover,
a.btn-link:active {
  color: $berry;
  border-color: $berry;
}

a.btn-link::after {
  content: '\F0142';
  font-family: 'Material Design Icons';
  font-size: 20px;
  position: absolute;
  top: -2px;
}

.text-outline {
  text-shadow:
    -0.5px -0.5px 0 #000,
    0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
}

.legend {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34px;
  width: 34px;
  border-radius: 30px;
}

.frosted-glass-light {
  background: rgba($surface, 0.2) !important;
  backdrop-filter: blur(10px);
}

.frosted-glass {
  background: rgba($surface, 0.4) !important;
  backdrop-filter: blur(10px);
}

.frosted-glass-dark {
  background: rgba($surface, 0.85) !important;
  backdrop-filter: blur(10px);
}

.font-weight-semibold {
  font-weight: 600;
}
